$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
    6: $spacer * 2.5,
    7: $spacer * 3,
    10: 10px,
    20: 20px,
    40: 40px
);

$primary: #4C396F;

@use "bootstrap-icons/font/bootstrap-icons";
@use "bootstrap/scss/bootstrap" with (
    $primary: $primary,
    $spacer: $spacer,
    $spacers: $spacers
);


body {
    font-family: "Inter", sans-serif;
}
